.app {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f9f9f9;
}


.left {
  flex: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
  overflow-y: auto;
  padding: 10px;
}


.right {
  flex: 1; 
  background-color: #fff;
  padding: 30px;
  overflow-y: auto;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
}

.analysis {
  font-family: 'Segoe UI', Arial, sans-serif;
  line-height: 1.6;
}

.analysis h3 {
  color: #0056b3;
  margin-bottom: 10px;
}

.clickable {
  color: blue;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.clickable:hover {
  color: darkblue;
}
